<h1>Hello, let's plan your day now :)</h1>

<h2>Tell me your three tasks that you want to complete today</h2>
It doesn't necessarily be the most important or crucial tasks from your job, but what would make you feel great about your day